body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* NAVBAR */
.navbar {
    height: 5rem;
    background-color: #fff;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222 !important;
}

/* FOOTER */
.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* CARDS */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}


.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* CARD OVERLAY EFFECT */

.card-img-overlay {
    opacity: 0;
}


.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* NEW PAGE */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* EDIT PAGE */

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* SHOW PAGE  */

.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.edit-img {
    height: 200px;
}


/* MAP */

#map {
    height: 400px;
    width: 80vh;
}

/* INDEX.EJS FILTERS */


#filters {
    display: flex;
    align-items: center;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin-left: 8rem;
}